@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}
body {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	margin: 0 0 50px;
}

table {
  font-size: 11px !important;
  /* min-width: 1000px; */
  margin-left: 0;
  overflow-y: scroll;
  overflow-x: scroll;
} 
tr td{
  background-color: transparent;
}
.threedots{
  border: #fff !important;
  border-radius: 0% !important;
  background-color: transparent;
}
.need-color-change{
  background-color: #8197b9;
}
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}


@media (min-width: 768px) {
  .d-md-table-header-group {
    display: table-header-group !important;
  }
}